body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /*Com isso não é necessário colocar um valor quebrado no max width, por conta do padding*/
  padding: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto; /*Evita que os conteúdos fiquem fora do meio por conta do aumento da tela*/
  margin-right: auto; /*Evita que os conteúdos fiquem fora do meio por conta do aumento da tela*/
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu a {
  background: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
}
